:host {
    display: block;
    width: 1400px;
    margin: 0 auto;
}

.progress-spinner-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
