<mat-toolbar color="primary" class="mat-elevation-z8">
    <span>Bookstore</span>
    <span class="spacer"></span>
    <ng-container *ngrxLet="jwtData$; let jwtData">
        <a *ngIf="!jwtData?.googleId; else profile" [href]="googleAuthUrl" mat-raised-button color="primary">
            <mat-icon svgIcon="google"></mat-icon>
            Login
        </a>
        <ng-template #profile>
            <a href="#">
                <img
                        matRipple
                        class="rounded profile-picture"
                        [src]="jwtData?.picture"
                        alt="User profile"
                />
            </a>

        </ng-template>
    </ng-container>

</mat-toolbar>

<router-outlet></router-outlet>
