<mat-toolbar color="primary" class="mat-elevation-z8">
    <span><a routerLink="/" mat-button>BS</a></span>
    <span class="spacer"></span>
    <ng-container>
        <ng-container *ngIf="!(jwtData$ | ngrxPush); else profile">
            <button (click)="login()" class="login-button" mat-raised-button color="primary" [disabled]="loading$ | ngrxPush">
                <img
                    class="rounded login-picture"
                    src="assets/g-logo.png"
                    alt="Login with google"
                />

                Login
            </button>
        </ng-container>

        <ng-template #profile>
            <ng-container *ngIf="jwtData$ | ngrxPush as jwtData">
                <button (click)="shoppingCart()" class="shopping-cart-button" mat-raised-button color="primary">
                    <mat-icon svgIcon="cart"></mat-icon>
                </button>

                <button class="profile-button" mat-raised-button color="primary">
                    <img
                            class="rounded profile-picture"
                            [src]="jwtData?.picture"
                            alt="User profile"
                    />

                    {{jwtData?.firstName}}
                </button>
                <button (click)="logout()" class="logout-button" mat-raised-button color="warn">
                    <mat-icon svgIcon="logout"></mat-icon>
                </button>
            </ng-container>

        </ng-template>
    </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
